<app-loader *ngIf="isLoading"></app-loader>

<div class="container pb-3">
    <div class="row">
        <div class=" col-lg-3 col-md-4 col-sm-6" *ngFor="let category of categoriesList">
            <div class="product p-3 mt-5 rounded-3 cursor-pointer" [routerLink]="['/category-description', category._id]">
                <figure>
                    <img [src]="category.image" class="w-100" [alt]="category.name">
                </figure>
                <figcaption>
                    <p class="text-center text-main fs-5 fw-bolder">{{category.name}}</p>
                </figcaption>
            </div>
        </div>
    </div>
</div>
