<section class="landing" id="home">
    <div class="overlay">
        <div class="land_container">
            <div class="main_logo">
                <!-- <img src="assets/freshcart-logo.svg" alt=""> -->
                <!-- <i class="fa-regular fa-cart-shopping"></i> -->
                <img src="assets/icons8-cart-48.png" style="height: 70px; width: 70px;" alt="">
                <span data-text="FreshCart">FreshCart</span>
            </div>
            <div class="text">
                <p class="description mb-5">Shopping is just the beginning.</p>
                <p class="main_paragraph">
                    FreshCart, the most famous and fastest ecommerce website,  shopping is easy with FreshCart , try it now!  
                </p>
            </div>
        </div>
    </div>
</section>
