@media screen and (max-width: 992px) {
    .updatePassword {
        width: 100% !important;
        padding: 15px !important;
    }
}

.eye-icon {
    right: 15px;
    top: 30px;
    cursor: pointer;
}