<div class="container">
  <div class="row g-0 mt-2">
      <div class="col-8 overflow-hidden">
          <owl-carousel-o [options]="carouselOptions" >
              <ng-template carouselSlide >
                  <img src="assets/main-slider-1.jpeg"  style="height:fit-content"  class="w-100" alt="main-slider-1">
              </ng-template>
              <ng-template carouselSlide >
                  <img src="assets/main-slider-2.jpeg " style="height:fit-content"  class="w-100" alt="main-slider-2">
              </ng-template>
              <ng-template carouselSlide >
                  <img src="assets/main-slider-3.jpeg"  style="height:fit-content" class="w-100" alt="main-slider-3">
              </ng-template>
          </owl-carousel-o>
      </div>
      <div class="col-4">
          <div>
              <img src="assets/main-slider-2.jpeg" style="height:fit-content;" class="w-100" alt="main-slider-4">
              <img src="assets/main-slider-3.jpeg" style="height:fit-content" class="w-100" alt="main-slider-5">
          </div>
      </div>
  </div>
</div>
